<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head>
<meta charset="UTF-8" />
<title>Listar Carrinhos</title>

</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-sm-2 offset-sm-10">
				<a th:href="@{/carrinho/relatorio}" title="Exportar para PDF"
					class="btn btn-success "><i class="fa fa-file-pdf-o fa-2x "></i></a>
				<a th:href="@{/carrinho/relatorio(format=xlsx)}"
					title="Exportar para Excel" class="btn btn-success "><i
					class="fa fa-file-excel-o fa-2x "></i></a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<form th:action="@{/carrinho/buscar}" method="get">
					<div class="row">
						<div class="col-sm-2"></div>
						<div class="col-sm-4">
							<div class="input-group">
							<input class="form-control" type="text" name="texto"
								placeholder="Digite o nome do carrinho..." />
						<button type="submit" class="btn btn-secondary">	
							<span class="glyphicon glyphicon-search"></span>
							</button>
						</div>
					</div>
					</div>
					<br />
				</form>

				<table class="table">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nome</th>
							<th>Data de criacao</th>


						</tr>
					</thead>
					<tbody>
						<tr th:each="carrinho : ${carrinhos}">
							<th scope="row" th:text="${carrinho.id}"></th>
							<td th:text="${carrinho.nomecarrinho}"></td>
							<td th:text="${carrinho.dataformatada}"></td>

							<td>
								<div class="btn-group" role="group" aria-label="Ações">
									<a th:href="@{/carrinho/editar(id=${carrinho.id})}"
										class="btn btn-info btn-sm">Editar</a> 
										<a th:href="@{/carrinho/excluir(id=${carrinho.id})}" class="btn btn-danger btn-sm">
										<span class="glyphicon glyphicon-trash"></span>
										</a>
								
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<nav aria-label="Page navigation example" th:if="${carrinhos.getTotalPages()}  >=1 ">
					<ul class="pagination">
						<li class="page-item"
							th:classappend="${!carrinhos.hasPrevious()}? 'active'"><a
							class="page-link"
							th:href="@{/carrinho(page=${carrinhos.getNumber()-1},size=${carrinhos.getSize()})}">Anterior</a>
						</li>
						<li class="page-item"
							th:classappend="${i == carrinhos.getNumber()}? 'active'"
							th:each="i : ${#numbers.sequence(0,carrinhos.getTotalPages()-1)}">
							<a class="page-link"
							th:href="@{/carrinho(page=${i},size=${carrinhos.getSize()})}"
							th:text="${i+1}">1</a>
						</li>
						<li class="page-item"
							th:classappend="${!carrinhos.hasNext()}? 'active'"><a
							class="page-link"
							th:href="@{/carrinho(page=${carrinhos.getNumber()+1},size=${carrinhos.getSize()})}">Proxima</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-9">
				<a th:href="@{/carrinho/novo}" class="btn btn-success">Novo</a>

			</div>

		</div>
	</div>
</body>
</html>